/* body {
    display: flex
} */

body,
html {
    height: 100%;
}

.container-fluid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.parallax {
    background-image: url("../images/cc_drone.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

#logo {
    width: 18rem;
    position: absolute;
    background: rgba(255, 255, 255, 0.7)
}