/* body {
    display: flex
} */

body,
html {
    height: 100%;
}

.container-fluid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.parallax {
    background-image: url("../images/cc_drone.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

#logo {
    width: 18rem;
    position: absolute;
    background: rgba(255, 255, 255, 0.7)
}

.container {
    margin-top: 1rem
}

#home {
    height: 700px;
}

#row-fix {
    margin-left: -80px;
}

#home-bg-diagonal {
    width: 73%;
    height: 700px;
    float: right;
    background-image: url("../images/cc_home_2.jpeg");
    border-left: 200px solid white;
    border-top: 700px solid transparent;
    background-attachment: fixed;
    background-size: cover;
}

.home-content-box {
    /* float: left; */
    height: 700px;

}

.home-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;

}

.home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

.home-content-title h3 {
    text-align: left;
    
}

.home-content-title-underline {
    width: 60px;
    height: 2px;
    background: #76ed4b;
    text-align: left;
    margin-top: 10px;
}

#home-description p {
    margin-top: 20px;
    text-align: justify;
}

.btn {
    border-radius: 6px !important;
    margin-top: 20px
}

#home-button a {
    border: 2px solid #76ed4b;
    padding: 10px 55px;
    color: white;
    background: #76ed4b;
    transition: all 0.5s ease-in;
    font-weight: bold;
}

#home-button a:hover {
    background: transparent;
    color: #76ed4b;
    font-weight: bold;
}

#headshots {
    height: 700px;
}

#headshots-bg-diagonal {
    width: 73%;
    height: 700px;
    float: left;
    background-image: url("../images/cc_headshot.jpg");
    border-right: 200px solid white;
    border-top: 700px solid transparent;
    background-attachment: fixed;
    background-size: cover;
}

.headshots-content-box {
    height: 700px;
}

.headshots-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

.headshots-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

.headshots-content-title h3 {
    text-align: left; 
}

.headshots-content-title-underline {
    width: 60px;
    height: 2px;
    background: #76ed4b;
    text-align: right;
    margin-top: 10px;
}

#headshots-description p {
    margin-top: 20px;
    text-align: justify;
}

.btn {
    border-radius: 6px !important;
    margin-top: 20px
}

#headshots-button a {
    border: 2px solid #76ed4b;
    padding: 10px 55px;
    color: white;
    background: #76ed4b;
    transition: all 0.5s ease-in;
    font-weight: bold;
}

#headshots-button a:hover {
    background: transparent;
    color: #76ed4b;
    font-weight: bold;
}


#event {
    height: 700px;
}

#row-fix {
    margin-left: -80px;
}

#event-bg-diagonal {
    width: 73%;
    height: 700px;
    float: right;
    background-image: url("../images/cc_event.jpg");
    border-left: 200px solid white;
    border-top: 700px solid transparent;
    background-attachment: fixed;
    background-size: cover;
}

.event-content-box {
    /* float: left; */
    height: 700px;

}

.event-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;

}

.event-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

.event-content-title h3 {
    text-align: left;
    
}

.event-content-title-underline {
    width: 60px;
    height: 2px;
    background: #76ed4b;
    text-align: left;
    margin-top: 10px;
}

#event-description p {
    margin-top: 20px;
    text-align: justify;
}

.btn {
    border-radius: 6px !important;
    margin-top: 20px
}

#event-button a {
    border: 2px solid #76ed4b;
    padding: 10px 55px;
    color: white;
    background: #76ed4b;
    transition: all 0.5s ease-in;
    font-weight: bold;
}

#event-button a:hover {
    background: transparent;
    color: #76ed4b;
    font-weight: bold;
}